In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os, sys
from glob import glob

In [8]:
import psutil
import os
import time
import sys
import math
from contextlib import contextmanager

@contextmanager
def trace(title):
    t0 = time.time()
    p = psutil.Process(os.getpid())
    m0 = p.memory_info()[0] / 2. ** 30
    yield
    m1 = p.memory_info()[0] / 2. ** 30
    delta = m1 - m0
    sign = '+' if delta >= 0 else '-'
    delta = math.fabs(delta)
    print(f"[{m1:.1f}GB({sign}{delta:.1f}GB):{time.time() - t0:.1f}sec] {title} ", file=sys.stderr)

In [6]:
tar_files = glob('../data/GSE117295_RAW/*csv')

In [7]:
tar_files

['../data/GSE117295_RAW/GSM3290582_CT14.csv',
 '../data/GSE117295_RAW/GSM3290588_CT38.csv',
 '../data/GSE117295_RAW/GSM3290585_CT26.csv',
 '../data/GSE117295_RAW/GSM3290591_CT50.csv',
 '../data/GSE117295_RAW/GSM3290590_CT46.csv',
 '../data/GSE117295_RAW/GSM3290586_CT30.csv',
 '../data/GSE117295_RAW/GSM3290584_CT22.csv',
 '../data/GSE117295_RAW/GSM3290589_CT42.csv',
 '../data/GSE117295_RAW/GSM3290593_CT58.csv',
 '../data/GSE117295_RAW/GSM3290583_CT18.csv',
 '../data/GSE117295_RAW/GSM3290587_CT34.csv',
 '../data/GSE117295_RAW/GSM3290594_flash.csv',
 '../data/GSE117295_RAW/GSM3290592_CT54.csv']

In [26]:
with trace("load csv, concat"):
    df = []
    col = []
    for i in range(len(tar_files)):
        tar = tar_files[i]
        df_temp = pd.read_csv(tar).sum(1)
        col.append(tar.split('_')[2].split('.')[0])
        df.append(df_temp)
    
    df = pd.concat(df, axis=1).fillna(0)
    df.columns = col
    df.to_csv('../data/GSE117295_RAW/df_concat.csv')

[3.7GB(+0.0GB):116.0sec] load csv, concat

In [27]:
df.head()

,CT14,CT38,CT26,CT50,CT46,CT30,CT22,CT42,CT58,CT18,CT34,flash,CT54
0610007P14Rik,493.0,256.0,398.0,231.0,435.0,488.0,390.0,406.0,358.0,382.0,394.0,341.571594,344.0
0610009B22Rik,552.0,341.0,391.0,210.0,552.0,420.0,543.0,464.0,430.0,517.0,418.0,431.527471,397.0
0610009E02Rik,54.0,42.0,34.0,29.0,70.0,40.0,47.0,41.0,40.0,24.0,74.0,53.452043,37.0
0610009L18Rik,207.0,84.0,197.0,103.0,205.0,200.0,181.0,138.0,175.0,157.0,201.0,121.244879,169.0
0610009O20Rik,238.0,82.0,201.0,74.0,88.0,149.0,136.0,101.0,125.0,139.0,175.0,135.585671,115.0

In [20]:
df_temp

0610007P14Rik    344
0610009B22Rik    397
0610009E02Rik     37
0610009L18Rik    169
0610009O20Rik    115
                ...
n-R5s28            2
n-R5s40            1
n-R5s56            1
n-R5s88            1
n-R5s96            3
Length: 25910, dtype: int64

In [23]:
d = pd.read_csv(tar)

In [38]:
d.shape

(25910, 4939)

In [35]:
d.max(0).max()

3238

In [36]:
d.max(1).max()

3238

In [31]:
d.max(0)

ACATTCATGAGC      43
TCGTCCAATCCG      29
GGCTAAGGATTT       6
TGATAAGATTGA       8
CCTTTGACCTTN      20
                ...
CTTTTCCTATCA     146
ATCCTCCAATCA     218
TTATGTTGTCCA     128
ATCCGGTCATAA     215
TAAAGGATCGGC    3238
Length: 4939, dtype: int64

In [37]:
"Agt" in d.index

True